:root {
   --main-color: #2a2a2a;
   --bg-color: #454545;
   --check-size: 36px;
   --bs-inset: inset 0px 2px 3px rgba(0, 0, 0, 0.43);
   --bs-rgba1: rgba(255, 255, 255, 0.3);
   --bs-rgba2: rgba(255, 255, 255, 0.16);
   --plusminus-size: 23px;
   --btn-option-arrow-size: 25px;
   --btn-info-size: 51px;
   --btn-height: 54px;
}
